body {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-areas: '. article .';
    padding-top: 2em;
    padding-bottom: 2em;
    background: linear-gradient(
        90deg,
        rgb(243, 142, 142) 0%,
        rgb(142, 142, 247) 100%
    );
}
article {
    grid-area: article;
    display: grid;
    gap: 2em;
    font-size: 1.2em;
    border: 2px solid #ccc;
    border-top: none;
    position: relative;
}

article > header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 30px;
    grid-template-areas: 'line-l title line-r';
}
article > header > .line-l,
article > header > .line-r {
    border-top: 2px solid #ccc;
}
article > header > .line-l {
    grid-area: line-l;
    transform: translateX(-1px);
}
article > header > .line-r {
    grid-area: line-r;
    transform: translateX(1px);
}
article > header > .title {
    grid-area: title;
    transform: translateY(-50%);
}

article > div {
    padding: 0.5em 2em;
}
